{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NickBwalley</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
<h1>This is my First WebPage!..</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Nationality</th>
        <th>Age</th>
        <th>Job</th>
    </tr>
    <tr>
        <td>Nicholas</td>
        <td>Kenyan</td>
        <td>20</td>
        <td>Programmer</td>
    </tr>
    <tr>
        <td>Louis</td>
        <td>French</td>
        <td>20</td>
        <td>Programmer</td>
    </tr>
    <tr>
        <td>Alehandro</td>
        <td>Spanish</td>
        <td>23</td>
        <td>Programmer</td>
    </tr>
</table>
</body>
</html>